body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    color: azure;
}

section {
    margin-top: 50px;
    margin-left: 10%;
}

#login-section {
    display: block;
}

#dashbored-section {
    display: none;
    justify-content: center;
    gap: 25px;
}

#collection-section {
    display: none;
    justify-content: center;
    gap: 25px;
}

a {
    color: #ffffff;
}

a:hover {
    color: #FC814A;
}

#login-section,
#create-section {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.login-container {
    padding: 30px;
    border-radius: 20px;
    background-color: #1C2541;
    width: 250px;
}

.input-description {
    margin-bottom: 10px;
}

input {
    width: 100%;
    box-sizing: border-box;
}

.login-button {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #FC814A;
    font-weight: bold;
}

.login-button:hover {
    cursor: pointer;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #FC814A;
    border-radius: 25px;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: black;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
}

.button:hover {
    color: azure;
    font-size: 18px;
    cursor: pointer;
}

.button:active {
    font-size: 14px;
}

.profile-section,
#welcome-section,
#joke-section,
#collection-header {
    background-color: #1C2541;
    border-radius: 20px;
    padding: 30px;
}

#dashbored-section main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35vh 35vh;
    gap: 20px;
    padding: 50px;
    font-size: 20px;
    height: 80vh;
}

.profile-section {
    grid-area: 1 / 1 / 3 / 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 100px 100px;
    height: fit-content;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: green;
    justify-self: center;
    align-self: center;
}

.profile-section .button {
    align-self: baseline;
    justify-self: center;
}



#welcome-section {
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#joke-section {
    grid-area: 2 / 2 / 3 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    max-width: 500px;
}

#joke-section .button,
#joke-section p {
    align-self: center;
    justify-self: center;
}

#welcome-section .button, 
#welcome-section h2, 
#welcome-section p {
    align-self: center;
    justify-self: center;
}

#collection-section main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    gap: 20px;
}

#collection-header {
    grid-area: 1 / 2 / 3 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

#collection-header h2 {
    align-self: center;
    justify-self: center;
}

#joke-collection {
    justify-self: center;
    align-self: center;
    overflow-y: scroll;
    border: 3px solid #FC814A;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}