body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
}

body,
#collection_button,
#up,
#button_container,
.button,
#down {
    display: flex;
}

body,
#collection_button,
.button {
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 50px 70px;
    font-size: 20px;
}

#left,
#up,
#down {
    border-radius: 10px;
    background-color: #1C2541;
}

#left {
    grid-row: 1/3;
    grid-column: 1/2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#pp {
    width: 20vw;
    height: 20vw;
    background-color: cyan;
    border-radius: 50%;
}

#collection_button {
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    margin-top: 50px;
    background-color: #FC814A;
}

#up {
    grid-row: 1/2;
    grid-column: 2/4;
    flex-direction: column;
    align-items: center;
}

#up p,
#up h2 {
    color: white;
}

#up p {
    margin-top: 0;
}

#button_container {
    justify-content: space-evenly;
    width: 80%;
    margin-top: 40px;
}

.button {
    width: auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FC814A;
}

#down {
    grid-row: 2/3;
    grid-column: 2/4;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#down p {
    margin: 0;
    color: white;
}

#add_button {
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #FC814A;
}