/* LOGIN & CREATE ACCOUNT */

a {
    color: #ffffff;
}

a:hover {
    color: #FC814A;
}

#login-main, #create-account-main {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.login-container {
    padding: 30px;
    border-radius: 20px;
    background-color: #1C2541;
    width: 250px;
}

.input-description {
    margin-bottom: 10px;
}

#login-main input, #create-account-main input {
    width: 100%;
    box-sizing: border-box;
}

.login-button {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #FC814A;
    font-weight: bold;
}

.login-button:hover {
    cursor: pointer;
    color: white;
}

/* DASHBORED */

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

#dashbored-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 50px 70px;
    font-size: 20px;
    height: 80vh;
}


#left,
#up,
#down {
    border-radius: 10px;
    background-color: #1C2541;
    color: azure;
}

/* BUTTONS */

/* Animation 
@keyframes blink {
    0% { color: white; text-shadow: rgb(255, 255, 255) 1px 0 15px; }
    10% { color: black; text-shadow: none; }
    13% { color: white; text-shadow: rgb(255, 255, 255) 1px 0 15px; }
    15% { color: black; text-shadow: none; }
    18% { color: white; text-shadow: rgb(255, 255, 255) 1px 0 15px; }
}
*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    
    background-color: #FC814A;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: black;

    width: fit-content;
    justify-self: center;
    align-self: center;
}

.button:hover {
    color: azure;
    text-shadow: rgb(255, 255, 255) 1px 0 15px;
    font-size: 23px;

    /* Animation
    animation-name: blink;
    animation-delay: 300ms;
    animation-duration: 1s;
    */
}

.button:active {
    color: azure;
    font-size: 17px;
}

/* LEFT AREA */

#left {
    grid-area: 1 / 1 / 3 / 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#left p {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
    margin-bottom: 50px;
    font-size: 30px;
}

#pfp {
    justify-self: center;
    align-self: flex-end;

    margin: 10px;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);

    background: linear-gradient(to right, #FC814A, #e09572);
}

#collection_button {
    align-self: baseline;
}

/* UPPER AREA */

#up {
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr;
}

#up h2, #up p {
    justify-self: center;
    align-self: center;
}

/* DOWNWARDS AREA */ 

#down {
    grid-area: 2 / 2 / 3 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#down p {
    justify-self: center;
    align-self: center;
}