body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    color: azure;
}

section, #create-section {
    margin: 125px 20px 0 20px;
}

#login-section {
    display: block;
}

#dashbored-section {
    display: none;
    justify-content: center;
    gap: 25px;
}

#collection-section {
    display: none;
    justify-content: center;
    gap: 25px;
}

a {
    color: #ffffff;
}

a:hover {
    color: #FC814A;
}

#login-section,
#create-section {
    display: flex;
    justify-content: center;
}

.login-container {
    padding: 30px;
    border-radius: 20px;
    background-color: #1C2541;
    width: 250px;
}

.input-description {
    margin-bottom: 10px;
}

input {
    width: 100%;
    box-sizing: border-box;
}

.login-button {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 16px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #FC814A;
    font-weight: bold;
}

#confirmTheAccount {
    margin: 0px;
}

.login-button:hover {
    cursor: pointer;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #FC814A;
    border-radius: 25px;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: black;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
}

.button:hover {
    color: azure;
    font-size: 18px;
    cursor: pointer;
}

.button:active {
    font-size: 14px;
}

.profile-section,
#welcome-section,
#joke-section,
#collection-header {
    background-color: #1C2541;
    border-radius: 20px;
    padding: 30px;
}

#dashbored-section main {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 0px 150px 0px 150px;
    font-size: 20px;
    height: 80vh;
}

.profile-section {
    grid-area: 1 / 1 / 3 / 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 100px 100px;
    height: fit-content;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: green;
    justify-self: center;
    align-self: center;
}

.profile-section p {
    justify-self: center;
    align-self: center;
}

.profile-section .button {
    align-self: baseline;
    justify-self: center;
}



#welcome-section {
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#joke-section {
    grid-area: 2 / 2 / 3 / 4;
    display: none;
    max-width: 600px;
}

#joke-section .button,
#joke-section p {
    align-self: center;
    justify-self: center;
}

#welcome-section .button, 
#welcome-section h2, 
#welcome-section p {
    align-self: center;
    justify-self: center;
}



#collection-section main {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-row: 1fr 1fr;
    gap: 20px;
    font-size: 20px;
    padding: 0px 150px 0px 150px;
}

#collection-header {
    grid-area: 1 / 2 / 3 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    max-height: 500px;
}

#collection-header h2 {
    align-self: center;
    justify-self: center;
}

#joke-collection {
    justify-self: center;
    align-self: center;
    overflow-y: scroll;
    border: 3px solid #FC814A;
    border-radius: 25px;
    width: 100%;
    max-height: 100%;
}

.favorite {
    background-color: #FC814A;
    color: azure;
}

.received {
    background-color: azure;
    color: black;
}

.received,
.favorite {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    line-height: 30px;
}

.buttonDiv {
    display: grid;
    grid-template-columns: 40px 40px;
    grid-template-rows: 40px;
    width: 110px;
    gap: 10px;
    margin-top: 10px;
}

svg {
    max-width: 30px;
    max-height: 30px;
}

.removeButton,
.sendButton,
.acceptButton {
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.removeButton {
    background-color: #ca6666;
    border: 3px solid #7c2929;
}

.removeButton:hover {
    background-color: #e07171;
    width: 37px;
    height: 37px;
}

.removeButton:active {
    width: 33px;
    height: 33px;
}

.sendButton {
    background-color: #658dcc;
    border: 3px solid #3a5b91;
}

.sendButton:hover {
    background-color: #729ee4;
    width: 37px;
    height: 37px;
}

.sendButton:active {
    width: 33px;
    height: 33px;
}

.acceptButton {
    background-color: #73ae73;
    border: 3px solid #4e864e;
}

.acceptButton:hover {
    background-color: #86ca86;
    width: 37px;
    height: 37px;
}

.acceptButton:active {
    width: 33px;
    height: 33px;
}